.education {
    padding: 50px 0px;
    background-color: #17a2b8;
    color: #fff;
    height:100vh;
  }
  
  .education div {
    margin-bottom: 30px;
  }
  
  .education h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .education p {
    font-size: 20px;
  }
  