.education {
    padding: 50px 0px;
    color: black;
  }

  .education-section {
    display: flex;
    justify-content: space-between; /* Add space between the cards */
    margin-left:10%;
    margin-right:10%;
  }

  .nsec-logo{
    height:90%;
  }
  
  
  .education h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .education p {
    font-size: 20px;
  }
  