  .experience h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .experience p {
    font-size: 20px;
  }
  
  .experience ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .experience li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .experience-heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px; /* Add some margin below the heading */
  }