.experience {
    padding: 50px 0px;
    background-color: #f7f7f7;
  }
  
  .experience div {
    margin-bottom: 30px;
    margin-left:4%;
    margin-right:4%;
  }
  
  .experience h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .experience p {
    font-size: 20px;
  }
  
  .experience ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .experience li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  