.navbar-offwhite {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure navbar stays above other content */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect to the bottom border */
}

.navbar-brand{
  margin-left:8%;
}
.navbar-brand > div {
  display: flex;
  flex-direction: column;
}

.navbar-brand > div > div {
  margin-top: 5px; /* Adjust margin as needed */
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-right:8%;
}

.navbar-nav .nav-item {
  padding-right: 15px; /* Add space between navbar items */
  list-style: none; /* Remove bullet points */
}

.navbar-nav .nav-link {
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  color: #333; /* Optional: Change link color */
  text-decoration: none; /* Remove default underline */
  position: relative; /* Enable absolute positioning for pseudo-element */
  font-family: 'Roboto', sans-serif; /* Apply Roboto font to nav links */
  font-weight: bold; 
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Change color on hover */
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Position the underline below the link */
  left: 0;
  width: 0; /* Initially set width to 0 */
  height: 2px;
  background-color: #007bff; /* Color of the underline */
  transition: width 0.3s; /* Smooth transition effect */
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%; /* Expand underline on hover or when active */
}


.container-fluid {
  display:flex;
  justify-content: space-between;
  padding: 0 20px;
}