.interests {
    padding: 50px 20px;
    background-color: #6c757d;
    color: #fff;
  }
  
  .interests ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .interests li {
    font-size: 20px;
    margin-bottom: 10px;
  }
  